<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSelectionHandler,log4net-net-1.0"/>
	</configSections>
	<log4net>
		<appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
			<lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
			<file value="" />
			<appendToFile value="true" />
			<rollingStyle value="Size" />
			<maxSizeRollBackups value="10" />
			<maximumFileSize value="10MB" />
			<staticLogFileName value="true" />

			<!-- ERROR level layout -->
			<filter type="log4net.Filter.LevelMatchFilter">
				<levelToMatch value="ERROR" />
				<acceptOnMatch value="true" />
			</filter>
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date：[异常]%n%f-%l%n%message%newline" />
			</layout>

			<!-- WARN level layout -->
			<filter type="log4net.Filter.LevelMatchFilter">
				<levelToMatch value="WARN" />
				<acceptOnMatch value="true" />
			</filter>
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date：[警告]%n%message%newline" />
			</layout>
			
			<!-- INFO level layout -->
			<filter type="log4net.Filter.LevelMatchFilter">
				<levelToMatch value="INFO" />
				<acceptOnMatch value="true" />
			</filter>
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date：%message%newline" />
			</layout>
			
			<filter type="log4net.Filter.DenyAllFilter" />			
		</appender>
		
		<appender name="DebugAppender" type="log4net.Appender.RollingFileAppender">
			<lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
			<file value="" />
			<appendToFile value="true" />
			<rollingStyle value ="size"/>
			<maxSizeRollBackups value="-1" />
			<maximumFileSize value="10MB" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%message%newline" />
			</layout>
			<filter type="log4net.Filter.LevelMatchFilter">
				<levelToMatch value="DEBUG" />
				<acceptOnMatch value="true" />
			</filter>
			<filter type="log4net.Filter.DenyAllFilter" />
		</appender>

		<root>
			<level value="DEBUG" />
			<appender-ref ref="RollingFileAppender" />		
			<appender-ref ref="DebugAppender" />
		</root>
	</log4net>
	<!--<log4net>

		-->
	<!-- 根记录器，引用所有的日志记录器 --><!--
		<root>
			<level value="ERROR" />
			<level value="WARN" />
			<level value="INFO" />
			<level value="DEBUG" />

			<appender-ref ref="DebugAppender" />
			<appender-ref ref="ErrorAppender" />
			<appender-ref ref="WarnAppender" />
			<appender-ref ref="InfoAppender" />
		</root>
	</log4net>-->
</configuration>